<!DOCTYPE html>
<html lang="en">

<head font-family: Roboto, sans-serif;>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/estilos.css">

</head>

<body class="gris-claro">

    <header class="amarillo">

        <div class="container-flex amarillo">

            <div class="logoybarra">

                <div id="logo">
                    <img src="/images/logo-mercado-liebre.svg">
                </div>

                <div id="barra-busqueda">
                    <input id="search" type="search" placeholder="Buscar productos, marcas y más">
                    <i class="fas fa-search"></i>

                </div>

            </div>

            <div id="cuotas">
                <p><i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>

            <nav id="barra-navegacion">


                <nav class="nav-izquierda">

                    <ul>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                        <li>
                    </ul>


                </nav>

                <nav class="nav-derecha">


                    <ul>
                        <li>
                            <a href="register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                        <li>
                            <a href="login">Ingresá</a>
                            <i class="fas fa-sign-in-alt"></i>
                        </li>
                        <li>
                            <a href="">Mis compras</a>
                            <i class="fas fa-shopping-basket"></i>
                        </li>
                    </ul>

                </nav>

            </nav>
            <p style="text-align:center">
                <i class="fas fa-bars boton-menu"></i>
            </p>

        </div>
    </header>

    <!-- Banner -->

    <section id="banner">
        <img src="/images/img-home-banner.jpg" class="banner">
    </section>

    <main id="index" class="gris-claro">

        <div class="gris-claro">
            <h2 class="titulares">Basado en tu última vista</h2>
        </div>

        <section id="basado-en-visitas">

            <article>

                <img src="/images/img-cafetera-moulinex.jpg" alt="">

                <div class="datos-articulo">

                    <div class="camion"><i class="fas fa-truck verde"></i></div>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p class="descripciones gris-oscuro">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>

                </div>



            </article>

            <article>

                <img src="/images/img-macbook-pro-2019.jpg" alt="">

                <div class="datos-articulo">


                    <div class="camion"><i class="fas fa-truck verde"></i></div>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <p class="descripciones gris-oscuro">Macbook Pro 2019 Lorem, ipsum.</p>

                </div>

                </div>

            </article>
            <article>

                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">

                <div class="datos-articulo">


                    <div class="camion"><i class="fas fa-truck verde"></i></div>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">15% OFF</p>
                    <p class="descripciones gris-oscuro">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.
                    </p>

                </div>
            </article>

            <article>

                <img src="/images/img-tv-samsung-smart.jpg" alt="">

                <div class="datos-articulo">

                    <div class="camion">
                        <i class="fas fa-truck verde"></i>
                    </div>

                    <p class="precios">$34.000</p>
                    <p class="descuentos">5% OFF</p>


                    <p class="descripciones gris-oscuro">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
                </div>

            </article>

        </section>

        <div class="gris-claro">
            <h2 class="titulares">Ofertas</h2>
        </div>


        <section id="ofertas">

            <article>

                <img src="/images/img-cafetera-moulinex.jpg" alt="">

                <div class="datos-articulo">


                    <div class="camion"><i class="fas fa-truck verde"></i></div>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p class="descripciones gris-oscuro">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>

                </div>
            </article>
            <article>

                <img src="/images/img-macbook-pro-2019.jpg" alt="">

                <div class="datos-articulo">


                    <div class="camion"><i class="fas fa-truck verde"></i></div>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <p class="descripciones gris-oscuro">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
                </div>
            </article>

            <article>

                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">

                <div class="datos-articulo">


                    <div class="camion"><i class="fas fa-truck verde"></i></div>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">15% OFF</p>
                    <p class="descripciones gris-oscuro">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.
                    </p>

                </div>
            </article>

            <article>

                <img src="/images/img-tv-samsung-smart.jpg" alt="">

                <div class="datos-articulo">



                    <div class="camion"><i class="fas fa-truck verde"></i></div>

                    <p class="precios">$34.000</p>
                    <p class="descuentos">5% OFF</p>
                    <p class="descripciones gris-oscuro">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>

                </div>
            </article>
        </section>

    </main>


    <!--Pie de pagina -->

    <footer>

        <article>

            <p><i class="fas fa-credit-card celeste icono-footer"></i></p>

            <b>Pagá con tarjeta o en efectivo</b>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!
            </p>



        </article>
        <article>

            <p><i class="fas fa-gift celeste icono-footer"></i></p>
            <b>Envío gratis desde los $ 2.500</b>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de
                MercadoPuntos.</p>

        </article>

        <article>

            <p><i class="fas fa-user-shield celeste icono-footer"></i></p>
            <b>Seguridad, de principio a fin</b>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                protegid@.
            </p>

        </article>

        <div id="copyright">
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>

        </div>
    </footer>


</body>

</html>


<!--Puedo poner en el action del form "javascript:void(0) para que no se envíe. También le puedo poner un ancla interna con #"" -->